<!DOCTYPE html>
<html>
<body>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

	<style type="text/css">

		body {
			background-color: grey;
			background-repeat: no-repeat;
		}

		form {
			margin-top: 220px;
			padding: 90px;
		}

		label {
			color: white;
		}

	</style>

</head>

<form method="POST" action="/api/auth/reset/{{token}}">
	<div class="container">
		<div class="form-group">
			<label for="formGroupExampleInput">New Password</label>
			<input type="text" class="form-control" name="password" id="formGroupExampleInput" placeholder="New Password">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput2">Confirm Password</label>
			<input type="text" class="form-control" name="repeatpassword" id="formGroupExampleInput2" placeholder="Confirm Password">
		</div>

		<button class="btn btn-success">Submit</button>
	</div>
</form>

</body>
</html>