.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
    text-indent: 0;
}

/*Radio Toggle Allow users*/

.toggle input[type="checkbox"] + .label-text:before{
    content: "\f204";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 10px;
}

.toggle input[type="checkbox"]:checked + .label-text:before{
    content: "\f205";
    color: #337ab7;
    animation: effect 250ms ease-in;
}
.toggle input[type="checkbox"]:checked + .label-text{

    color: #337ab7;

}
@keyframes effect{
    0%{transform: scale(0);}
    25%{transform: scale(1.3);}
    75%{transform: scale(1.4);}
    100%{transform: scale(1);}
}
.toggle input[type="checkbox"] {
    display: none;
}
span.label-text {
    font-size: 18px;
    padding: 5px 5px;
}
.form-check:hover {
    color: #337ab7;
    transition: .5s;
}
/*./Radio Toggle Allow users*/

/*MAGO-INVOICE*/
.slide-down-enter,
.slide-down-leave
{
    -webkit-transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition:200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    display:block;
    overflow:hidden;
    position:relative;
}

.items-table .row {
    border-bottom:1px solid #ddd;
    line-height:3em;
}
.items-table .row:last-child {
    border-bottom:none;
    line-height:3em;
}

.slide-down-enter.slide-down-enter-active,
.slide-down-leave {
    opacity:1;
    height:46px;
}

.slide-down-leave.slide-down-leave-active,
.slide-down-enter {
    opacity:0;
    height:0px;
}


.invoice-number-container * {
    font-weight:bold;
}

.items-table .row:nth-child(even) {
    background:#f9f9f9;
}
.items-table input {
    line-height:1.5em;
}
.actions {
    padding-top:1em;
}
input:focus {
    outline: 0;
}

.heading {
    background-color:#357EBD;
    color:#FFF;
    margin-bottom:1em;
    text-align:center;
    line-height:2.5em;
}
.branding {
    padding-bottom:2em;
    border-bottom:1px solid #ddd;
}
.logo-container {
    text-align:right;
}
.infos .right {
    text-align:right;
}
.infos .right input {
    text-align:right;
}
.infos .input-container {
    padding:3px 0;
}

.header.row {
    font-weight:bold;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}

input, textarea{
    border: 1px solid #FFF;
}

.container input:hover, .container textarea:hover,
.table-striped > tbody > tr:nth-child(2n+1) > td input:hover,
.container input:focus, .container textarea:focus,
.table-striped > tbody > tr:nth-child(2n+1) > td input:focus{
    border: 1px solid #CCC;
}

.table-striped > tbody > tr:nth-child(2n+1) > td input{
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}



@media print {
    .noPrint {
        display:none;
    }
}

body{
    padding:20px;
}

.infos input{
    width: 300px;
}

.align-right input{
    text-align:right;
    width: 300px;
}

div.container{
    width: 800px;
}

#imgInp{
    display: none;
}

.copy {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 40px 0 20px 0;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #404040;
    cursor: default;
    line-height: 1.4em;
}

.copy .love {
    display: inline-block;
    position: relative;
    color: #ce0c15;
}

img#company_logo{
    margin-top: -60px;
    margin-bottom: -100px;
}
.input-container{
    font-weight: bold;
}

.col-md-12.footer {
    margin-top: 154px;
    font-weight: bold;
    font-size: 10px;
}
.move{
    margin-bottom: 3px;
    margin-top: 5px;
    font-size: 15px;
}
/*./MAGO-INVOICE*/


/*TIBO-INVOICE*/
/*IMAGE SESSION*/
img#logo_tibo {
    margin-top: -15px;
}
.adresa{
    color: #9c0;
    padding-top: 10px;
}
/*./IMAGE SESSION*/

/*CUSTOMER INFO*/
.para1 {
    font-weight: bold;
    margin-top: 6px;
}
p.para2 {
    font-size: 20px;
    margin-top: 41px;
    margin-left: 16px;
}
th.widt {
    width: 169px;
}
p.para3 {
    font-size: 20px;
    margin-top: 13px;
    margin-left: 16px;
}
/*./CUSTOMER INFO*/

/*PARENT CODE*/
p.para4 {
    font-size: 20px;
    font-weight: bold;
}
p.para5 {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    margin-top: -12px;
}
/*./PARENT CODE*/

/*CUSTOMER CARE*/
p.para6 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}
span.sp1 {
    font-weight: bold;
    font-style: italic;
}
span.sp2 {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}
.footeri{
    margin-top: 20px;
    font-weight: bold;
    font-size: 11px;
}
/*./CUSTOMER CARE*/

@page { size: auto;  margin: 0mm; }
@media print{
    .adresa{
        color: #9c0 !important;
        padding-top: 10px;
    }
    #printo{
        width: 900px;
        padding-top: 30px;
    }
}

/*Drag and Drop Package*/


.multiDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

.multiDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.multiDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
}

.multiDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
p.text-center.bg-default.paragraph {
    margin-left: 15px;
    margin-right: 15px;
    padding: 7px;
    font-weight: bold;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input#usr {
    border: 2px solid #ddd;
    width: 100%;
    margin-bottom: 6px;
    border-radius: 7px;
}

/*./Drag and Drop Package*/