<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="get" action="https://www.accountkit.com/v1.0/basic/dialog/sms_login/">
            <input type="hidden" name="app_id" value="2127442330842136">
            <input type="hidden" name="redirect" value="{{server_address}}/apiv2/account-kit/callback">
            <input type="hidden" name="state" value="qwertzuio">
            <input type="hidden" name="fbAppEventsEnabled" value=true>
            <button type="submit">Login</button>
        </form>
    </body>
</html>